<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            autoReload="true"
      throwExceptions="true">

<variable name="brief" value="${longdate} | ${threadid} | ${level} | ${callsite} | ${message}"/>

  <targets>
    
      <target name="logfile" xsi:type="File" fileName="C:\Users\Akhilkj\Documents\CalculatorTest\Logs\Test.log" layout="${brief}" />
    <!--<target name="console" xsi:type="Console" />-->
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>
  
  



  <rules>
    <!-- local file logger -->
    <!--<logger minlevel="Debug" name="fileLogger" writeTo="fileTarget"/>-->
   <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
  </rules>
</nlog>
